header {
	display: flex;
	justify-content: space-between;
	padding: 18px;
	.logo {
		padding: 2px;
		display: block;
    filter: drop-shadow(0px 0px 2px #031d4d66);
		&.logo-kr {
			// max-width: calc(45% - 60px);
			img {
				width: 180px;
			}
		}
		&.logo-tsf {
			// max-width: calc(45% - 60px);
			filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.5));
			img {
				width: 110px;
			}
		} 
		&.logo-fed {
			// max-width: calc(55% - 60px);
			float: right;
			img {
				width: 192px;
			}
		}
	}

	.left {
		display: flex;
		flex-flow: column nowrap;
		padding-right: 9px;
	}
	.right {
		padding-left: 9px;
	}
}
