.container {
	min-height: 100vh;
	width: 100vw;
	background-image: url(../images/bg.webp);
	background-size: cover;
	background-position: center 20%;
	background-repeat: no-repeat;
}

section {
	position: relative;
	padding-top: 20vh;
	@media (max-width: 2000px) {
		padding-top: 15vh;
	}
	@media (max-width: 1400px) {
		padding-top: 10vh;
	}
	@media (max-width: 800px) {
		padding-top: 5vh;
	}
}

.content {
	margin: auto;
	max-width: 90%;
	width: 800px;
	padding: 0 20px;
	img {
		margin-bottom: $spacer;
	}
}
